<!DOCTYPE html>
<html lang="en" ng-app="swabhavtechlab">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Service Pattern</title>
    <script src="angular.js"></script>
</head>

<body>
    <div ng-controller="firstController">
        <form ng-submit="submit()" ng-controller="firstController">
            Enter value : <input type="text" ng-model="value" ng-style="{'background-color':color}">
        </form>
    </div>
    <br><br>
    <hr><br><br>

    <div ng-controller="secondController">
        <form ng-submit="submitSecond()" ng-controller="secondController">
            Check Prime Number.<br>
            Enter value : <input type="text" ng-model="value" ng-style="{'background-color':color}">
        </form>
        {{display}}
    </div>

    <script>
        angular.module('swabhavtechlab', []).service("mathsServices", ["$log", "$q", function ($log, $q) {
            $log.info("inside the Service");

            this.checkEven = function (number) {
                return $q(function (resolve, reject) {
                    if (number % 2 == 0) {
                        console.log("excute resolve");
                        resolve("Green");
                    }
                    else {
                        console.log("excute reject");
                        reject("red");
                    }
                })
            }

            this.checkPrime = function (num) {
                var isPrime = true;
                var newValue = 0;
                var halfValue = num / 2;
                for (var count = 2; count <= halfValue; count++) {

                    newValue = num % count;
                    if (newValue == 0) {
                        isPrime = false;
                        break;
                    }
                }
                if (isPrime) {
                    console.log("This is prime number");
                } else {
                    console.log("This is not prime number");
                }
            }

        }]).controller("firstController", ["$scope", "mathsServices", function ($scope, mathsServices) {
            $scope.submit = function () {
                var number = $scope.value;
                mathsServices.checkEven(number)
                    .then((r) => {
                        console.log(r);
                        $scope.color = "green";
                    })
                    .catch((e) => {
                        console.log(e);
                        $scope.color = "red";
                    })
            }
        }]).controller("secondController", ["$scope", "mathsServices", function ($scope, mathsServices) {
            $scope.submitSecond = function () {
                var number = $scope.value;
                $scope.display = mathsServices.checkPrime(number);
            }
        }])

    </script>
</body>

</html>