<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Beer-App</title>
</head>
<body>
	<p>Select The Colour of Beer You Like :</p>

	<form name="Form" action="http://localhost:8080/beer-app/selectbeer"
		id="form" method="POST">
		<select name="Colour">
			<option value="light">Light</option>
			<option value="amber">Amber</option>
			<option value="brown">Brown</option>
			<option value="dark">Dark</option>
		</select> <br>
		<br> <input type="submit" value="Submit Colour">
	</form>
</body>
</html>